Pool6791 handle of reserved IPv4 addresses

As of v3.4.1, jool_siit's `--pool6791` allows any IPv4 address to be added to the pool, even reserved IP addresses, e. g. `0.0.0.0/8`, `127.0.0.0/8`, `224-239.0.0.0/8`, `255.255.255.255/32`.

[RFC 6791, section 3.1 Considerations](https://tools.ietf.org/html/rfc6791#section-3.1) reads as:

> The source address used SHOULD NOT cause the ICMP packet to be discarded.

I've found that if you insert jool_siit in a user created netns, when the packet is sent back to the global netns before being routed to the receiving IPv4 node, the packet is dropped. This has happened with several reserved blocks, i. e. the ones I listed before.

However when jool_siit is mounted in the global netns, and there is no other jump between the jool machine and the receiving node, the packet arrives. Now I'm no expert on the topic, I'm not sure why it can be routed only one hop and get dropped the next one.

While I don't think we should block the use of reserved IP addresses in the `--pool6791`, I do think we should notify that doing so may cause packets to drop, and maybe ask the user to use `--force` if they want to proceed.