RFC 6145 has been obsoleted by RFC 7915

You're probably already aware of this, but in case you're not and considering that [the compliance page](http://jool.mx/en/intro-jool.html#compliance) says to let you know if there's anything missing, I'd just like to point out that [RFC 6145](https://tools.ietf.org/html/rfc6145) has been obsoleted by [RFC 7915](https://tools.ietf.org/html/rfc7915).

Looking at [the changelog](https://tools.ietf.org/html/rfc7915#section-2) I think the most significant change is that you can now in good conscience purge the [atomic fragment support](http://jool.mx/en/usr-flags-atomic.html#overview) from Jool. However, maybe it's best to do so in v3.5 in case anyone actually depends on it (for the record, I don't).


I'd like to leave this open to remind me that I should read the new RFC more thoroughly. (Though atomic fragments were indeed already purged.)

Partly to make the most out of the survey grace period, I finally sat down and performed the formal 7915 review. The results will be released in Jool 4.0.7.

I realized that the [compliance table](https://jool.mx/en/intro-jool.html#compliance) has been lying all this time about 7915. Aside from the Atomic Fragment Deprecation requirements (which were implemented a long time ago), these are the ones that inspired changes in the code:

> Source Address:  Mapped to an IPv6 address based on the algorithms
>    presented in Section 6.
>
>    If the translator gets an illegal source address (e.g., 0.0.0.0,
>    127.0.0.1, etc.), the translator SHOULD silently discard the
>    packet (as discussed in Section 5.3.7 of [RFC1812]).  Note when
>    translating ICMPv4 Error Messages into ICMPv6, the "illegal"
>    source address will be translated for the purpose of trouble
>    shooting.

This appears to be a new requirement.

Until Jool 4.0.6, Illegal source addresses led Jool to drop ICMPv4 errors. They don't anymore.

> If the translator gets an illegal source address (e.g., ::1,
> etc.), the translator SHOULD silently drop the packet.

Implemented.

...Unfortunately, the RFC does not define what constitutes an "illegal" source address in this context, so ::1 is the only one listed right now.

> If any of an IPv6 Hop-by-Hop Options header, Destination Options
> header, or Routing header with the Segments Left field equal to zero
> are present in the IPv6 packet, those IPv6 extension headers MUST be
> ignored (i.e., there is no attempt to translate the extension
> headers) and the packet translated normally.

> Total Length:  If the Next Header field of the Fragment Header is an
>    extension header (except ESP, but including the Authentication
>    Header (AH)), then the packet SHOULD be dropped and logged.

Jool used to always "ignore" (ie. pretend they don't exist) Simple Extension Headers (SEH).

Starting from 4.0.7, Jool ignores SEHs before Fragment, but drops packets containing SEHs after Fragment.

This new quirk doesn't make much sense to me, but I gave it a pass because I don't see much harm in it. [Here's my train of thought](https://github.com/NICMx/Jool/wiki/RFC-7915-Review#simple-extension-headers).

> For UDP packets that do not contain a UDP checksum (i.e., the UDP
> checksum field is zero), the translator SHOULD provide a
> configuration function to allow:
>
> 1.  Dropping the packet and generating a system management event that
>     specifies at least the IP addresses and port numbers of the
>     packet.
>
> 2.  Calculating an IPv6 checksum and forwarding the packet (which has
>     performance implications).
>
>     A stateless translator cannot compute the UDP checksum of
>     fragmented packets, so when a stateless translator receives the
>     first fragment of a fragmented UDP IPv4 packet and the checksum
>     field is zero, the translator SHOULD drop the packet and generate
>     a system management event that specifies at least the IP
>     addresses and port numbers in the packet.

I noticed that it doesn't say to "silently" drop the packet, which means that the ICMP error from section [4.4](https://tools.ietf.org/html/rfc7915#section-4.4) is supposed to kick in.

Before 4.0.7, zero UDP checksums used to be dropped silently.

--------------------------------

At present, Jool has two significant RFC7915 known incompliances:

1. [`lowest-ipv6-mtu`](https://github.com/NICMx/Jool/issues/136).
2. Discovered while testing: In the IPv4 to IPv6 direction, if the DF flag is unset, the packet is already fragmented and the IPv6 version of the packet exceeds the nexthop MTU, Linux adds another fragment header as a side effect of the new additional fragmentation. This means the resulting packet ends up with two fragment headers. Though this is not technically impossible to reassemble, it requires a rather hardcore and determined defragmentator.

These two issues have the same cause, and are very much nontrivial to fix. [I already started the patch](https://github.com/NICMx/Jool/commit/535d83d1d0c82274e5d549dc380c00fd2b3ffff1), but it's incredibly intrusive and will require ardous testing. `lowest-ipv6-mtu` does not play well with the kernel's optimization mechanisms at all. I don't think it's going to be ready before 2020. To stop stalling 4.0.7, I've decided to merge the second incompliance with the first one, and shift it into the realm of #136.

Therefore, I intend on closing this issue as soon as 4.0.7 is released.

4.0.7 released; closing.